include ../price-card/price-card.pug
include ../price-card/price-card-accent.pug
include ../feature/feature.pug
include ../banner-intensive/banner-intensive.pug

.pay
    h1.pay__title Оплатить занятия
    p.pay__text 
        | Выбери удобный способ обучения
        br
        | После 
        span.pay__text--accent привязки карты 
        | ты сможешь удобно оплачивать занятия.
    .pay__tab 
        ul.pay__tab-handler
            li.pay__tab-handler-item 
                a(href="#").pay__tab-handler-link.pay__tab-handler-link--active Индивидуальные занятия
            li.pay__tab-handler-item 
                a(href="#").pay__tab-handler-link Обучение в группе
        ul.pay__tab-content 
            li.pay__tab-content-item
                .pay__price-block
                    .pay__price-block-item
                        +price-card(null, "2 индивидуальных занятия", "1290", "Хороший старт", "Лучшее решение для старта обучения", "2580")
                    .pay__price-block-item
                        +price-card(null, "4 индивидуальных занятия", "1450", "Экономия 200 руб.", "Месяц учёбы (1 занятие в неделю)", "4760")
                    .pay__price-block-item.pay__price-block-item--sm-full
                        +price-card("price-card--accent", "4 индивидуальных занятия", "1350", "Экономия 1200 руб.", "Месяц учёбы (2 занятия в неделю)", "8720")
            li.pay__tab-content-item(style="display: none;")
                .pay__price-block
                    .pay__price-block-item
                        +price-card(null, "2 индивидуальных занятия", "1290", "Хороший старт", "Лучшее решение для старта обучения", "2580")
                    .pay__price-block-item
                        +price-card(null, "4 индивидуальных занятия", "1450", "Экономия 200 руб.", "Месяц учёбы (1 занятие в неделю)", "4760")
                    .pay__price-block-item.pay__price-block-item--sm-full
                        +price-card-accent("price-card--accent", "4 индивидуальных занятия", "1350", "Экономия 1200 руб.", "Месяц учёбы (2 занятия в неделю)", "8720")
    .pay__additionally
        include ../additionally/additionally.pug
    .pay__banner
        +banner-intensive('banner-intensive--green')
    .pay__banner
        +banner-intensive('banner-intensive--pink')
    .pay__banner
        +banner-intensive('banner-intensive--yellow')