include ../mixins/svg.pug

.course-card.course-card--orange
    .course-card__header
        .course-card__teacher
            include ../teacher/teacher.pug
        .course-card__ticket-container
            .course-card__ticket Индивидуально
            .course-card__ticket 11 класс
    .course-card__title Курс подготовки к олимпиаде «Физтех» по математике
    .course-card__data
        .course-card__data-item
            .course-card__data-icon
                +svg(16,16,"icon-time")
            | Каждое воскресенье  в 18:45
        .course-card__data-item 
            .course-card__data-icon
                +svg(16,16,"icon-sand-time")
            | Доступно 3 занятия
    .course-card__button 
        a(href="#").button.button--full-width-m.button--orange Открыть материалы