include ../mixins/svg.pug

mixin notice-item(text, closeButton)
    .notice-item
        .notice-item__icon
            +svg(16,16,'icon-bell')
        .notice-item__data
            .notice-item__text= text
            .notice-item__date 25.03.2020
        if closeButton
            button.notice-item__close
                +svg(12,12,'icon-close')