.invite-block
    h2.invite-block__title.invite-block__title--statistic Статистика
    .invite-block__statistic
        .invite-block__statistic-item
            p.invite-block__statistic-item-title 13 друзей
            p.invite-block__statistic-item-text ты пригласил в MathLabs
        .invite-block__statistic-item
            p.invite-block__statistic-item-title 10 друзей
            p.invite-block__statistic-item-text принесли тебе бонусы на обучение
        .invite-block__statistic-item
            p.invite-block__statistic-item-title.invite-block__statistic-item-title--green 2 бесплатных урока
            p.invite-block__statistic-item-text бонусы, которые ты заслужил :)
        .invite-block__statistic-item
            p.invite-block__statistic-item-title 
                | Введи код: 
                button.invite-block__statistic-code fe245g4
            p.invite-block__statistic-item-text при следующей оплате и получи 2 бесплатных занятия
