include ../ticket/ticket.pug
include ../button/button.pug

article.intensive-card
    .intensive-card__content
        .intensive-card__tickets
            .intensive-card__tickets-item
                +ticket("Курс")
            .intensive-card__tickets-item
                +ticket("11 класс")
            .intensive-card__tickets-item
                +ticket("Олимпиадная математика")
        .intensive-card__data-block
            h1.intensive-card__title Курс подготовки к олимпиаде «Физтех» по математике
        .intensive-card__footer.intensive-card__footer--nowrap
            .intensive-card__teacher
                include ../teacher/teacher.pug
            .intensive-card__date
                span.intensive-card__date-icon
                    +svg(18,18,"icon-clock-history")
                span.intensive-card__date-text 5 занятий
    .intensive-card__choice-block
        .intensive-card__button-block
            .intensive-card__button-block-item
                +button('button--full-width-m ', "К занятиям")
    button.intensive-card__archive-button
        +svg(20,16,"icon-folder")
