.phrase
    .phrase__quote 
        p Привет! Ты приглашен в MathLabs – в самую передовую онлайн-платформу по обучению точным наукам! 
        p Мы поможем систематизировать знания по математике, повысить уровень и подготовиться к самым сложным экзаменам. Регистрируйся, чтобы узнать больше!
    .phrase__author 
        .phrase__author-image 
            img(src="img/teacher/teacher-avatar.jpg", alt="Альберт Горяев", width="51", height="51")
        .phrase__author-data 
            p.phrase__author-name Альберт Горяев
            p.phrase__author-position Преподаватель математики MathLabs