include ../mixins/svg.pug

.introductory
    .introductory__content
        .introductory__title Вводное занятие
        ul.introductory__list
            li.introductory__list-item Знакомство с курсом и платформой
            li.introductory__list-item Секреты успешной сдачи ЕГЭ по математике на 90+ баллов
            li.introductory__list-item Решение сложной, но интересной задачи из ЕГЭ
            li.introductory__list-item Интерактив: выбор задачи на разбор
    .introductory__button
        button.button
            span.button__icon
                +svg(20,20,"icon-download")
            | Скачать материалы
        
