include ../mixins/svg.pug

ul.social-nav
    li.social-nav__item
        a(href="#").social-nav__link
            span.social-nav__icon
                +svg(25,25,"icon-discord")
            | Подключиться в Discord
    li.social-nav__item
        a(href="#").social-nav__link
            span.social-nav__icon
                +svg(25,25,"icon-telegram")
            | Онлайн-чат в Telegram
            