mixin select(nameField, classname, index)

    .select
        span.select__arrow
            +svg(12,9,"icon-arrow-down")
        select(name= nameField, id= index)
            option 11 класс
            option 10 класс