include ../mixins/svg.pug

nav.main-nav
    ul.main-nav__list
        li.main-nav__list-item
            a.main-nav__link(href="#")
                span.main-nav__link-icon
                    +svg(16, 16, "icon-pay")
                span.main-nav__link-title Оплатить занятия
        li.main-nav__list-item
            a.main-nav__link(href="#")
                span.main-nav__link-icon
                    +svg(16, 16, "icon-material")
                span.main-nav__link-title Материалы занятий
                span.main-nav__link-notice 1
        li.main-nav__list-item
            a.main-nav__link(href="#")
                span.main-nav__link-icon
                    +svg(16, 16, "icon-play")
                span.main-nav__link-title Доступные интенсивы
        li.main-nav__list-item
            a.main-nav__link(href="#")
                span.main-nav__link-icon
                    +svg(16, 16, "icon-star")
                span.main-nav__link-title Мои уроки
        li.main-nav__list-item
            a.main-nav__link(href="#")
                span.main-nav__link-icon
                    +svg(16, 16, "icon-promo")
                span.main-nav__link-title Мои промокоды
        li.main-nav__list-item
            a.main-nav__link(href="#")
                span.main-nav__link-icon
                    +svg(16, 16, "icon-invite")
                span.main-nav__link-title Пригласи друзей
        li.main-nav__list-item
            a.main-nav__link(href="#")
                span.main-nav__link-icon
                    +svg(16, 16, "icon-settings")
                span.main-nav__link-title Настройки
        li.main-nav__list-item
            a.main-nav__link(href="#")
                span.main-nav__link-icon
                    +svg(16, 16, "icon-bell")
                span.main-nav__link-title Уведомления
        li.main-nav__list-item
            a.main-nav__link(href="#")
                span.main-nav__link-icon
                    +svg(16, 16, "icon-pay")
                span.main-nav__link-title Чат с преподавателем
        li.main-nav__list-item
            a.main-nav__link(href="#")
                span.main-nav__link-icon
                    +svg(16, 16, "icon-logout")
                span.main-nav__link-title Выход
