article.teacher-card.teacher-card--orange
    .teacher-card__image
        .teacher-card__image-inner
            img(src="img/teacher/teacher.jpg", alt="Горяев Альберт")
    .teacher-card__teacher-data
        h1.teacher-card__name Альберт Горяев
        .teacher-card__university Механико-математический факультет МГУ
            span.teacher-card__university-logo
                img(src="img/teacher/university-logo.png", alt="Логотип МГУ")
    .teacher-card__teacher-about
        p.teacher-card__about Сын ученого, который занимается вопросами космического излучения в РАН. Альберт любит математику так сильно, что берет книги по функциональному анализу даже на встречи с друзьями.
        p.teacher-card__about Подготовил ряд школьников, которые поступили в ряд ведущих лицеев и математических школ Москвы.
        .teacher-card__footer
            .teacher-card__footer-item
                .teacher-card__footer-item-title ЕГЭ по математике
                .teacher-card__footer-item-data 100 из 100 баллов
            .teacher-card__footer-item
                .teacher-card__footer-item-title Дополнительный экзамен МГУ
                .teacher-card__footer-item-data 100 из 100 баллов