.teacher-card
    .teacher-card__info-wrapper.teacher-card__col
        .teacher-card__info
            h3.teacher-card__name Каплоухая Нина
            .teacher-card__university МФТИ. Факультет управления и прикладной математики
                span.teacher-card__university-logo
                    img(src="img/teacher-card/logo-mfti.png", alt="Логотип МФТИ")
            p.teacher-card__about Cпециалист по разбору задач в нашей команде. Нина подбирает ученикам MathLabs самые интересные задачи и прикладывает все усилия к их развитию. Кроме этого, Нина занимается анализом данных. Нина не только сдала ЕГЭ на 100 баллов, но и стала победителем олимпиад “Ломоносов” и “Межвузовской математической олимпиады”, а также призером олимпиад “Покори Воробьевы горы”, “МФТИ” и «Курчатов»
            .teacher-card__footer
                .teacher-card__footer-item
                    .teacher-card__footer-item-title ЕГЭ по математике
                    .teacher-card__footer-item-data 100 из 100 баллов
                .teacher-card__footer-item
                    .teacher-card__footer-item-title Победитель и призёр олимпиад
                    .teacher-card__footer-item-data “Ломоносов”<br>“Покори Воробьевы горы”<br>“Межвузовская олимпиада”<br>“МФТИ Курчатов”
    .teacher-card__col
        .teacher-card__image
            img(src="img/teacher-card/teacher-2.jpg", alt="Каплоухая Нина")