include ../mixins/svg.pug

nav.nav-pay
    ul.nav-pay__main
        li.nav-pay__main-item
            a(href="#").nav-pay__main-link.nav-pay__main-link--active 
                span.nav-pay__main-link-icon
                    include ../../assets/img/nav-pay/trophy.svg
                | Олимпиадная математика
        li.nav-pay__main-item
            a(href="#").nav-pay__main-link 
                span.nav-pay__main-link-icon
                    include ../../assets/img/nav-pay/student_male.svg
                | Повышение уровня
