include ../mixins/svg
include ../notice-item/notice-item

header.header
    .header__container
        .header__row
            a.header__logo(href="#")
                img(src="img/common/logo.svg", alt="Mathlab", width="120", height="20")
            .header__notice
                .header__notice-item
                    include ../notice-lessons/notice-lessons.pug
                .header__notice-item
                    include ../notice/notice
                    .header__notice-item-dropdown(style="display: none")
                        .dropdown-tooltip.dropdown-tooltip--notice
                            +notice-item("Твоё следующее занятие завтра в 18:00! Не пропусти! :)")
                            +notice-item("Твоё следующее занятие завтра в 18:00! Не пропусти! :)")
            .header__user-block
                a.header__user-avatar(href="#")
                span.header__greeting
                    span.header__greeting-text Привет, Константин!
                a.header__logout(href="#")
                    +svg(16,16,"icon-logout")
    .header__m-menu
        button.header__m-menu-button
            span.header__m-menu-page.header__m-menu-page--current
                span.header__m-menu-page-icon
                    +svg(16,16,"icon-pay")
                | Мои уроки  
                span.header__m-menu-page-dropdown  
                    +svg(8,4,"icon-arrow")        
        .header__m-menu-dropdown(style="display: none")
            .dropdown-tooltip
                .header__m-menu-dropdown-item
                    a(href="#").header__m-menu-page
                        span.header__m-menu-page-icon
                            +svg(16,16,"icon-play")
                        | Доступные занятия
                .header__m-menu-dropdown-item
                    a(href="#").header__m-menu-page.header__m-menu-page--current
                        span.header__m-menu-page-icon
                            +svg(16,16,"icon-star")
                        | Мои уроки 
                .header__m-menu-dropdown-item
                    a(href="#").header__m-menu-page
                        span.header__m-menu-page-icon
                            +svg(16,16,"icon-settings")
                        | Настройки
                .header__m-menu-dropdown-item
                    a(href="#").header__m-menu-page
                        span.header__m-menu-page-icon
                            +svg(16,16,"icon-bell")
                        | Уведомления 
                .header__m-menu-dropdown-item
                    a(href="#").header__m-menu-page
                        span.header__m-menu-page-icon
                            +svg(16,16,"icon-logout")
                        | Выход