include ../mixins/svg.pug

.courses-paid.courses-paid--empty
    .courses-paid__notice
        .courses-paid__notice-icon
            +svg(48,48,"icon-info")
        .courses-paid__notice-text Здесь ещё нет занятий