doctype html
html(lang="ru").page
    head
        meta(charset="UTF-8")
        title Mathlab: Account
        meta(name="keywords" content="")
        meta(name="description" content="")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles/style.css")
    body.page__body
        include header/header.pug
        main.page__main
            .page__container
                .page__grid
                    .page__sidebar
                        .page__main-nav
                            include progress/progress.pug
                    .page__content
                        .page__content-block
                            include back-block/back-block-archive.pug
                        .page__content-row-md.page__content-row-js
                            .page__course-cards
                                include courses-paid/courses-paid.pug
                                .page__course-cards-item
                                    include reccommend/reccommend.pug
                                .page__course-cards-item
                                    include offer-gold/offer-gold.pug
                        .page__calendar
                                include calendar/calendar.pug
                    .page__offer
                            include offer-school/offer-school.pug             
        include footer/footer.pug

        script(src="js/main.js")