footer.footer
    .footer__container
        .footer__row
            .footer__info
                a(href="#" class="footer__logo") Команда MathLabs
                p.footer__about-team Математик Годфри Харди писал: «Большинство людей настолько боятся самого названия математики, что они готовы совершенно искренне преувеличивать свою неспособность к математике». Мы полностью разделяем это мнение и считаем, что в большинстве случаев ребенку не хватает упорства, но никак не способностей.
            .footer__contacts-wrapper
                .footer__contacts
                    .footer__contacts-text Наши соц.сети
                    ul.footer__social-list
                        li.footer__social-item
                            a(href="#" class="footer-main__social-link" title="Instagram")
                                svg(width="48" height="48" aria-hidden="true")
                                    use(xlink:href='img/social/social-sprite.svg#icon-instagram')
                        li.footer__social-item
                            a(href="#" class="footer-main__social-link" title="Facebook")
                                svg(width="48" height="48" aria-hidden="true")
                                    use(xlink:href="img/social/social-sprite.svg#icon-facebook")
                .footer__contacts
                    .footer__contacts-text Если у вас есть вопросы – напишите нам!
                    ul.footer__social-list
                        li.footer__social-item
                            a(href="#" class="footer-main__social-link" title="Telegram")
                                svg(width="48" height="48" aria-hidden="true")
                                    use(xlink:href='img/social/social-sprite.svg#icon-telegram')
                        li.footer__social-item
                            a(href="#" class="footer-main__social-link" title="Whatsapp")
                                svg(width="48" height="48" aria-hidden="true")
                                    use(xlink:href="img/social/social-sprite.svg#icon-whatsapp")
                        li.footer__social-item
                            a(href="#" class="footer-main__social-link" title="Viber")
                                svg(width="48" height="48" aria-hidden="true")
                                    use(xlink:href='img/social/social-sprite.svg#icon-viber')
                        li.footer__social-item
                            a(href="#" class="footer-main__social-link" title="Messenger")
                                svg(width="48" height="48" aria-hidden="true")
                                    use(xlink:href='img/social/social-sprite.svg#icon-messenger')
        .footer__rights-block
            .footer__rights-block-item.footer__rights-block-copyright
                .footer__copyright © 2020 MathLabs. Все права защищиены   
            .footer__rights-block-item
                a(href="#" class="footer__link") Политика конфиденциальности     
            .footer__rights-block-item
                a(href="#" class="footer__link") Пользовательское соглашение
            
        
        
    
