footer.footer-referral
    .footer-referral__container
        .footer-referral__container-inner
            .footer-referral__rights-block
                .footer-referral__rights-block-item
                    a(href="#" class="footer-referral__link") Политика конфиденциальности     
                .footer-referral__rights-block-item
                    a(href="#" class="footer-referral__link") Пользовательское соглашение
                .footer-referral__rights-block-item.footer-referral__rights-block-copyright
                    .footer-referral__copyright © 2020 MathLabs. Все права защищиены
    .footer-referral__background
        img(src="img/footer-referral/boy.svg", alt="")
        
        
    
