.avatar-upload
    .avatar-upload__image
        img(src="", alt="", style="display: none;")
    p.avatar-upload__link
        input(type="file", name="avatar")
        span.avatar-upload__link-text Изменить