.archive
    .archive__item
        include ../archive-card/archive-card.pug
    .archive__item
        include ../archive-card/archive-card.pug 
    .archive__item
        include ../archive-card/archive-card.pug 
    .archive__item
        include ../archive-card/archive-card.pug 