include ../mixins/svg

a.notice-lessons(href="#")
    span.notice-lessons__icon
        +svg(14,16,"icon-play")
    
    span.notice-lessons__text.notice-lessons__text--medium Всего занятий:
    span.notice-lessons__text-count 11 
        span.notice-lessons__text-count.notice-lessons__text-count--mobile занятий
    span.notice-lessons__text-count-contain (5 индивидуальных, 7  групповых)