.back-block
    .back-block__button
        a(href="#").button.button--transparent.button--small-mobile
            .button__icon
                +svg(15, 15, "icon-arrow-prev")
            | Вернуться назад 