.back-block
    .back-block__button
        a(href="#").button.button--transparent.button--small-mobile
            .button__icon
                +svg(15, 15, "icon-arrow-prev")
            | Вернуться назад 
    .back-block__button-archive
        a(href="#").back-block__archive-link
            span.back-block__archive-link-icon
                +svg(20,16,"icon-folder")
            span.back-block__archive-link-text Архив