include ../button/button.pug

.offer-school
    h4.offer-school__title Летняя заочная математическая школа
    p.offer-school__subtitle 23-28 июля | Москва
    .offer-school__image 
        img(src="img/summer-school/summer-school.svg", alt="Летняя заочная математическая школа", width="198", height="209")
    .offer-school__button 
        +button("button--black button--full-width", "Узнать подробнее")
